In [1]:
print("This is tasnim shamduddin , data scientist")

This is tasnim shamduddin , data scientist

In [3]:
print("i am loving the statistics and math very much , thank you allah for giving me rashid ahmed and ahyan")

i am loving the statistics and math very much , thank you allah for giving me rashid ahmed and ahyan

In [4]:
print("lets start")

lets start

In [5]:
import random 
data=[]

In [8]:
for i in range (10):
    rn=random.randint(20,70)
    data.append(rn)

print(data)

[66, 44, 70, 60, 28, 25, 69, 35, 57, 52]

In [9]:
data

[66, 44, 70, 60, 28, 25, 69, 35, 57, 52]

In [16]:
import pandas as pd
data2=pd.read_csv("user_behavior_dataset.csv")

In [18]:
data2.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3